<!-- <h1>Messages#index</h1> -->
<!-- <p>Find me in app/views/messages/index.html.erb</p> -->

<form class="form-horizontal" role="form"
  <%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
  <div class="alert alert-danger">
    <%= alert %>
    <ul>
      <% @message.errors.full_messages.each do |full_message| %>
      <li>
        <%= full_message %>
      </li>
      <% end %> 
    </ul>
  </div>
  <% end %>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Contents</label>
    <div class="col-sm-10">
      <!-- <input type="password" class="form-control" id="inputPassword3" placeholder="Password"> -->
      <%= f.text_area :body, :size=>"60x5" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <!-- <button type="submit" class="btn btn-default">Sign in</button> -->
        <%= f.submit class: "btn btn-sm btn-primary" %>
    </div>
  </div>
  <!-- 名前: -->
  <!-- <\!-- <br> -\-> -->
  <!-- <%= f.text_field :name %> -->
  <!-- <br> -->
  <!-- 内容: -->
  <!-- <\!-- <br> -\-> -->
  <!-- <%= f.text_area :body, :size=>"60x5" %> -->
  <!-- <%= f.text_field :body %> -->
  <!-- <%= f.submit class: "btn btn-sm btn-primary" %> -->
  <% end %>
 </form>
